data/
.Rhistory
badWeatherDemo.nb.html
KelRide_Weather.Rproj
.RData
demandModel.nb.html
badWeatherDemo.nb.html
badWeatherDemo.html
demandModel.html
resultDemo.html
googleModel.html
resultDemo_files/
googleModel_files/
resultDemo_pdf.html